page-register{
    button {
        border-color: white !important;
        border-width: 2px !important;
       color: white !important;
      }

    .scroll-content{
        // background-color: rgb(236,237,237);
        background-image:linear-gradient($unicampusPrimary, $unicampusSecondary);
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    ion-label{
        font-weight:500;
        color:#FFFFFF;
    }

    .connexion {
        background-color: $unicampusTercary;
        padding: 4px;
        margin: 10px;
         border-radius: 10px;
     

        p {
            text-align: center;
            color: white;
            span{
                font-weight: bold;
            }
        }

        .formConnexion {
            padding: 4px;

            ion-input {
                margin: 10px 0;
                background: rgba(148, 174, 171, 0.5);
                border-radius: 3px; 
                color : black !important;
            }
            ion-item{
                background: none;
                padding: 0;
                border:0px !important;
                ion-select{
                    margin: 10px 0;
                   width: 100vw;
                    background: rgba(148, 174, 171, 0.5);
                    border-radius: 3px; 
                    color : black !important;
                }
            }
           
        }
    }
}