<ion-content>
    <!-- comme pour signin.html ici on affiche l'arrière plant de couleur vert foncé-->
    <div class="connexion">
        <p id="message">Bienvenue sur UniCampus !</p>
        <!-- ici on affiche le formulaire-->
        <div class="formConnexion">

            <ion-input type="text" placeholder="Prénom" 
            ngModel
            name="prenom"
            #prenom = "ngModel"></ion-input>

            <ion-input type="text" placeholder="Nom" 
            ngModel
            name="nom"
            #nom = "ngModel"></ion-input>

            <ion-item>
              
                <ion-select placeholder="sexe" cancelText="Annuler"
                ngModel
                name="sexe"
                #sexe = "ngModel">
                <!-- le *ngFor fonctionne comme un foreach est irra lire toute les valeurs des tableaux-->
                <!-- dans register.ts (par exemple ici on va chercher dans le tableau sexe) pour remplir dinamiquement le menu déroulant--> 
                <ion-option *ngFor="let sexe of sexes" value="{{ sexe }}">{{ sexe }}</ion-option>
                </ion-select>
            </ion-item>

            <ion-input type="mail" placeholder="Email de l'IUT" 
            ngModel
            name="mail"
            #mail = "ngModel"></ion-input>

            <ion-input type="password" placeholder="Password" 
            ngModel
            name="mdp"
            #mdp = "ngModel"></ion-input>

            <ion-item>
                <ion-select placeholder="ville" cancelText="Annuler" ngModel
                name="ville"
                #ville = "ngModel">
                <ion-option *ngFor="let ville of villes" value="{{ ville }}">{{ ville }}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-select placeholder="section" cancelText="Annuler" ngModel
                name="section" class="section"
                #section = "ngModel">
                <ion-option *ngFor="let section of sections" value="{{ section }}">{{ section }}</ion-option>
                </ion-select>
            </ion-item>


            <p>Déjà inscrit ?
                <span (click)="login()">Se connecter</span>
            </p>
            <div padding>
                <button ion-button block round outline tappable (click)="verrifChamp(nom.value, prenom.value, sexe.value, mail.value, mdp.value, ville.value, section.value)">Inscription</button>
            </div>
        </div>

    </div>
</ion-content>