page-soiree {
    div{
        button {
          border-color: black !important;
          border-width: 2px !important;
          border-radius: 8px !important; 
          background-color: #BDFBEE !important;
          color: black !important;
      }
        #Button1{
          border-bottom: 2px solid white;
          padding-bottom: 36px;
          padding-top: 50px;
        }
        #Button2{
          padding-top: 36px; 
        }
      }
          
      
          .scroll-content{
              // background-color: rgb(236,237,237);
              background-image:linear-gradient($unicampusPrimary, $unicampusSecondary);
              align-content: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
          }
          
          ion-label{
              font-weight:500;
              color:#FFFFFF;
          }
}
